form.form-horizontal(name="userForm")
  .form-group
     label.col-md-3.control-label(for="name") Name
     .col-md-9
       input.form-control(name="name" ng-model="user.name" placeholder="Name" ng-disabled="isSaving")

  .form-group(ng-class="{ 'has-error': userForm.email.$invalid || userForm.email.$error.required }")
    label.col-md-3.control-label(for="email") Email*
    .col-md-9
      input.form-control(name="email" placeholder="Email" ng-model="user.email" 
                         ng-required="true" ng-disabled="isSaving")
