nav-bar

spinner(ng-if="$ctrl.isLoading")
.container(ng-if="!$ctrl.isLoading")
  .row
    .col-md-12
      h2 {{ $ctrl.user.name }}
  .row
    .col-md-12
      p Email:&nbsp;
        a(href="mailto:{{ $ctrl.user.email }}") {{ $ctrl.user.email }}
  .row
    .col-md-12
      .buttons.text-right
        a.btn.btn-default(href="#/users") Cancel
        a.btn.btn-primary(href="#/users/{{ $ctrl.user._id }}/edit") Edit
